:root {
  // Sizes
  --quarck: 4px;
  --nano: 8px;
  --quarck3: 12px;
  --xs: 16px;
  --sm: 24px;
  --md: 32px;
  --lg: 48px;
  --xl: 64px;
  --xxl: 80px;
  --xxxl: 120px;

  // Colors
  --bkack: #000;
  --white: #fff;
  --darkGrey: #333;
  --grey: #777;

  --primary: #113364;
  --secondary: #003040;
  --green: #007839;
  --darkGreen: #007839cc;

  // Font Sizes
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.125rem;
  --text: 1rem;
  --label: 0.875rem;
}